@media screen and (max-width: 1000px){
	body{
		grid-template-areas: "profile projetos";
		grid-template-columns: 40% 60%;
	}

	.certificados{
		display: none;
	}
}

@media screen and (max-width: 720px){
	body{
		display: flex;
		flex-direction: column;
	}

	.profile{
		width: 0 auto;
	}

	.perfil{
		width: 50%;
	}

	.projetos{
		overflow-y: initial;
	}

	.certificados{
		display: flex;
	}
}
