@media screen and (max-width: 1000px){
	body{
		grid-template-areas: "profile projetos";
		grid-template-columns: 40% 60%;
	}

	.certificados{
		display: none;
	}
}

@media screen and (max-width: 720px){
	body{
		display: flex;
		flex-direction: column;
	}

	.profile{
		width: 0 auto;
	}

	.cabecalho{
		display: flex;
		position: relative;
		width: 100%;
		bottom: 1%;
		text-align: center;
		justify-content: space-around;
	}

	.perfil, .titulo__nome, .icone__linguagem{
		animation: entering-topdown 0.7s ease-in-out;
	}

	.barra__redessociais{
		position: relative;
		top 0;
		height: 4rem;
	}

	.perfil{
		width: 40%;
	}

	.projetos{
		overflow-y: initial;
	}

	.certificados{
		display: flex;
	}

	.repositorio{
		text-align: center;
	}
}
