@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

:root{
	--fontePrincipal: 'Roboto', sans-serif;
	font-size: 16px;
	font-family: var(--fontePrincipal);
	--arcoiris: linear-gradient(#d39e33, #ed5636, #633bbc) padding-box, linear-gradient(#d39e33, #ed5636, #633bbc) border-box;
	--cor-bordar-vermelha: rgb(178, 6, 6);
	--cor-background: #121215;
	--cor-seundaria:  #B6EADA;
	--background: radial-gradient( circle farthest-corner at 10% 20%,  rgba(100,43,115,1) 0%, rgba(4,0,4,1) 90% );
}

*{
	margin: 0;
	padding: 0;
	border: 0;
	box-sizing: border-box;
}

@keyframes entering-leftright {
	from{
		opacity: 0;
		transform: translateX(200px);
	}
	to{
		opacity: 1;
		transform:translateX(0);
	}
}

@keyframes entering-rightleft {
	from{
		opacity: 0;
		transform: translateX(-200px);
	}
	to{
		opacity: 1;
		transform:translateX(0);
	}
}

@keyframes entering-topdown {
	from{
		opacity: 0;
		transform: translateY(-200px);
	}
	to{
		opacity: 1;
		transform:translateY(0);
	}
}

body{
	display: grid;
	grid-template-areas: "profile projetos certificados";
	grid-template-columns:30% 40% 30%;
	grid-template-rows: 100vh;
	background-color: var(--cor-background);
	color: #eaeaea;
	font-family: var(--fontePrincipal);
	height: 100vh;
}

/*
	css timeline
*/

.projetos{
	padding: 1.5rem;
	grid-area: "projetos";
	overflow-y: scroll;
	animation: entering-topdown 0.7s ease-in-out;
}

small{
	border: 0.3rem solid var(--cor-bordar-vermelha);
	border-radius: 1rem;
	background-color: var(--cor-bordar-vermelha);
}

.preview__projeto{
	width: 100%;
	height: 10rem;
	margin-top: 1rem;
	border-radius: 1rem;
	transition: transform 0.5s ease-in-out;
	object-fit: cover;
}

.repositorio div{
	overflow: hidden;
}

.preview__projeto:hover{
	transform: scale(1.1);
}

.repositorio{
	margin-bottom: 1.5rem;
}

.repositorio__titulo{
	font-size: 1rem;
	margin-top: 0.5rem;
}

.repositorio__descricao{
	margin-top: 0.5rem;
	font-size: 0.8rem;
	line-height: 1.4;
	text-align: justify;
}

/*
	css profile
*/

.profile{
	grid-area: "profile";
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	border-right: 1px solid;
	border-image: linear-gradient(#727275, #2c2c31) 1 ;
	gap: 1rem;
	background-image: var(--background);
	background-position: top;
	background-repeat: no-repeat;
	background-size: 100vh;
}

.cabecalho{
	display: flex;
	position: relative;
	background-color: var(--cor-background);
	width: 100%;
	bottom: 20%;
	text-align: center;
	justify-content: space-around;
}

.barra__redessociais{
	height: 4rem;
	padding: 0 0.3rem;
}

.redessociais_links{
	margin: 1rem;
    transition: 1.2s;
    cursor: pointer;
    width: 2rem;
    height: 2rem;
    border-radius: 0.6rem;
    background-color: var(--cor-seundaria);
}

.perfil, .icone__linguagem, .titulo__nome {
	animation: entering-rightleft 0.7s ease-in-out;
}

.perfil{
	width: 15rem;
	border-radius: 50%;
	border: 0.5px solid transparent;
	background: linear-gradient(#d39e33, #ed5636, #633bbc) padding-box, linear-gradient(#d39e33, #ed5636, #633bbc) border-box;
}

.titulo__nome{
	font-family: var(--fontePrincipal);
}

.icone__linguagem{
	width: 10%;
	margin-bottom: 1rem;
}

.tecnologias{
	display: flex;
	align-items: center;
	justify-content: center;
}

/*
	css certificados
*/

.certificados{
	grid-area: "certificados";
	flex-direction: column;
	align-items: center;
	border-right: 1px solid;
	border-image: linear-gradient(#727275, #2c2c31) 1 ;
	background-image: var(--background);
	background-position: top;
	background-repeat: no-repeat;
	background-size: 100vh;
	overflow-y: scroll;
}

.titulo_certificados{
	background: var(--cor-bordar-vermelha);
	border-radius: 1.5rem;
	margin: 0.5rem;
	padding: 0.2rem 0.5rem;
	text-transform: uppercase;
	font-size: 0.7rem;
	width: fit-content;
	display: flex;
	justify-content: center;
	margin: 0.3rem auto;
}

.certificado{
	width: 15rem;
	height: 12rem;
	align-items: center;
	justify-content: center;
	animation: entering-leftright 0.7s ease-in-out;
}

.swiper-slide img{
	width: 100%;
}

.swiper-button-prev,
.swiper-button-next{
	display: none;
}

.swiper-pagination{
	position: initial;
	margin: 0.1rem 0;
}